<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Artists app</h1>


  <p><%= link_to 'Artists', artists_path %></p>
  <p><%= link_to 'Similar Artists', similar_artists_path %></p>
  <p><%= link_to 'Artist Similarities ', artist_similarities_path %></p>
  <p><%= link_to 'Random Artists', artists_random_path %></p>

</body>
</html>
